include README.md
include LICENSE.txt
include clinica/pipelines/space_required_by_pipeline.csv
recursive-include clinica/lib *
recursive-include clinica/iotools *
recursive-include clinica/bids/data *
recursive-include clinica/resources *
recursive-include clinica/pipelines info.json *.m
