# ***************  Clinica requirements for installation ***************
# ***** Requirements with Version Specifiers *****
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers

-r requirements.txt
# nipy == 0.4.2
numpy>=1.17,<=1.19
isort
black
pre-commit
pytest
pytest-timeout
pytest-xdist
mkdocs-material>=5.0.0
pymdown-extensions>=7.0
Pygments>=2.2.0
