# ***************  Clinica requirements for installation ***************
# ***** Requirements with Version Specifiers *****
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
nibabel >= 2.3.3
nipype >= 1.4.0, < 2.0.0
argcomplete >= 1.9.4
pandas >= 0.24.2
jinja2 >= 2.10.1
xvfbwrapper == 0.2.9
numpy >= 1.17
scikit-learn == 0.23
nilearn >= 0.6.0
colorama >= 0.4.1
xgboost == 0.80
xlrd >= 1.2.0, < 2.0.0
scipy == 1.2.3
matplotlib
niflow-nipype1-workflows
scikit-image == 0.16.2
torch > 1.0
torchvision
pydicom
networkx
