# ***************  Clinica requirements for installation ***************
# ***** Requirements with Version Specifiers *****
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
-r requirements.txt
nipy >= 0.4.2
pytest
pytest-timeout
pytest-xdist
pycodestyle
mkdocs-material>=5.0.0
pymdown-extensions>=7.0
Jinja2>=2.10
Pygments>=2.2.0
