# ***************  Clinica requirements for installation ***************
# ***** Requirements with Version Specifiers *****
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
-r requirements.txt
pytest
pytest-timeout
pytest-xdist
pycodestyle
