{
    "id": "aramislab/{{ pipeline.command_name }}",
    "author": "John Doe",
    "version": "0.1.0",
    "space_caps": "42M",
    "space_wd": "42M",
    "dependencies": [
        {
            "type": "binary",
            "name": "clinica",
            "version": ">=0.1.0"
        }
    ]
}
