name: 'Lint codebase'
on:
  pull_request:
    branches:
      - dev
  push:
    branches:
      - dev
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install environment
        run: |
          python -m ensurepip
          python -m pip install poetry
          make env
      - name: Lint code with black
        run: make lint.black
      - name: Lint code with isort
        run: make lint.isort
