name: 'Close inactive issues'

on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v4
        with:
          stale-issue-message: 'This issue is considered stale because it has not received further activity for the last 14 days. You may remove the `inactive` label or add a comment, otherwise it will be closed after the next 14 days.'
          stale-issue-label: 'inactive'
          exempt-issue-labels: 'awaiting-feedback'
          days-before-stale: 365
          days-before-close: 14
          start-date: '2022-01-01T00:00:00Z'
