name: Non Regression Tests - Converters

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

permissions:
  contents: read

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  POETRY_VERSION: '1.6.1'
  PYTHON_VERSION: '3.10'

jobs:
  test-converters-MacOS:
    runs-on:
      - self-hosted
      - macOS
    steps:
      - uses: actions/checkout@v4
      - uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: false
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
      - name: Run non-regression tests for converters
        run: |
          make env.conda
          source ~/miniconda3/etc/profile.d/conda.sh
          conda activate "${{ github.workspace }}"/env
          make install
          cd test
          poetry run pytest --verbose \
          --working_directory=/Volumes/data/working_dir_mac \
          --input_data_directory=/Volumes/data_ci \
          --basetemp=/Volumes/data/tmp \
          --junitxml=./test-reports/run_converters_mac.xml \
          --disable-warnings \
          ./nonregression/iotools/test_run_converters.py

  test-converters-Linux:
    runs-on:
      - self-hosted
      - Linux
    steps:
      - uses: actions/checkout@v4
      - uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: false
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
      - name: Run non-regression tests for converters
        run: |
          make env.conda
          source /builds/miniconda/etc/profile.d/conda.sh
          conda activate "${{ github.workspace }}"/env
          make install
          cd test
          poetry run pytest --verbose \
          --working_directory=/mnt/data/ci/working_dir_linux \
          --input_data_directory=/mnt/data_ci \
          --basetemp=/mnt/data/ci/tmp \
          --junitxml=./test-reports/run_converters_linux.xml \
          --disable-warnings \
          ./nonregression/iotools/test_run_converters.py
